
html, body {height: 100% }
*{
    padding: 0px;
    margin: 0px;
}

body{
background-color: rosybrown;
display: flex;
justify-content: space-around;
align-items: center
}

#task_body{
 width: 60%;
 height: 90%;
 color: white;
    background-color: rosybrown ;
    box-shadow: 0 0 0 2px white;
    position: relative;
}


#step{
    color: white;
    background-color: rgb(176, 134, 134) ;
    box-shadow: 0  0 10px rgba(255, 255, 255, 0.811)

}

#start_button{
    color: white;
    background-color:transparent ;
    box-shadow: 0 0 0 2px white;
    width: 40%;
    text-align: center;
    border-color: transparent;
    padding: 10px;
}

#start_button:hover{
box-shadow: 0  0 10px white;
}
#start_button:active{
transform:translateX(5px);
}

#arr_area{
    width: 30%;
    height: 90%;
    color: white;
    background-color:transparent ;
    box-shadow: 0 0 0 2px white;
}
    
#ol_double{
    width: 30%;
    height: 90%;
    color: white;
    background-color:transparent ;
    box-shadow: 0 0 0 2px white;
}
    

#primary_input{
    color: white;
    background-color:transparent ;
    box-shadow: 0 0 0 2px white;
    width: 92%;
    text-align: center;
    border-color: transparent;
    padding: 10px;
    margin-bottom: 20px;
}

#send{
     color: white;
    background-color:transparent ;
    box-shadow: 0 0 0 2px white;
    width: 100%;
    text-align: center;
    border-color: transparent;
    padding: 10px;
}

#send:hover{
  box-shadow: 0  0 10px white;
   }
#send:active{
 transform:translateX(5px);
}

ol{
    height: 100%;
    overflow:auto; 
}

li{
    list-style-position:inside;
    list-style-type: decimal;
    margin: 10px;
    padding: 5px;
    box-shadow: 0 0 0 2px white;
    height: 4%;
}

#step_button{
    color: white;
    background-color:transparent ;
    box-shadow: 0 0 0 2px white;
    width: 80%;
    text-align: center;
    border-color: transparent;
    padding: 5px;
    margin: -20% auto 20% ;
    display: block;
}

#step_button:active{
    transform:translateX(5px);
}
   #step_button:hover{
    box-shadow: 0  0 10px rgba(255, 255, 255, 0.811);
     }


     
@media (max-width: 600px) {
    body{
        display: grid;      
        background-color: blue;  
    }

}