
html, body {height: 100% }
*{
    padding: 0px;
    margin: 0px;
    border-radius: 20px;
}

body{
background-color: rgb(144, 15, 237);
display: flex;
justify-content: space-around;
align-items: center; 
flex-wrap: wrap;
}
 

#goalForm{
 color: white;
    background-color:transparent ;
    border-color: transparent;
    width: 50%;
    padding: 15px;
}

#goalInput{
    background-color:transparent;
    border-color: transparent;
    outline:none;
    border-bottom: 1px solid white;;
    margin-bottom: 20px;
    width: 100%;
    color: white;
    font-size: 100%;
    border-radius:0
}

 

#task_body{
 width: 60%;
 height: 90%;
 color: white;
    background-color: transparent ;
    box-shadow: 0 0 0 2px white;
    position: relative;
    border-radius: 20px 0 20px 0px;
}

p{
    padding: 5px;
}

#step{
    color: white;
    background-color: rgb(165, 17, 229) ;
    box-shadow: 0  0 10px rgba(22, 1, 1, 0.811);
     border-radius: 0;

}

#start_button{
    color: white;
    background-color:transparent ;
    box-shadow: 0 0 0 2px white;
    width: 100%;
    text-align: center;
    border-color: transparent;
    padding: 10px;
    

}

#start_button:hover{
box-shadow: 0  0 10px white;
}
#start_button:active{
transform:translateX(5px);
}

#arr_area{
    width: 30%;
    height: 90%;
    color: white;
    background-color:transparent ;
    box-shadow: 0 0 0 2px white;
}
    
#ol_double{
    width: 30%;
    height: 90%;
    color: white;
    background-color:transparent ;
    box-shadow: 0 0 0 2px white;
}
    

#primary_input{
    color: white;
    background-color:transparent ;
    box-shadow: 0 0 0 2px white;
    width: 92%;
    text-align: center;
    border-color: transparent;
    padding: 10px;
    margin-bottom: 20px;
}
 
#send{
     color: white;
    background-color:transparent ;
    box-shadow: 0 0 0 2px white;
    width: 100%;
    text-align: center;
    border-color: transparent;
    padding: 10px;
}

#send:hover{
  box-shadow: 0  0 10px white;
   }
#send:active{
 transform:translateX(5px);
}

ol{
    height: 100%;
    overflow:auto; 
}

li{
    list-style-position:inside;
    list-style-type: decimal;
    margin: 10px;
    padding: 5px;
    box-shadow: 0 0 0 2px white;
    height: 4%;
}

#step_button{
    color: white;
    background-color:transparent ;
    box-shadow: 0 0 0 2px white;
    width: 80%;
    text-align: center;
    border-color: transparent;
    padding: 5px;
    margin: -20% auto 20% ;
    display: block;
}

#step_button:active{
    transform:translateX(5px);
}
   #step_button:hover{
    box-shadow: 0  0 10px rgba(255, 255, 255, 0.811);
     }



img{
    max-width: 30%;
    height: auto;
}


     
@media (max-width: 600px) {
body{
    
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

#form{
    grid-row:3/3;
    grid-column: 2/6;
    width: 100%;
}


    #start_button{
        grid-row:2/3;
        grid-column: 2/6;
        width: 100%;
       
    }

    #arr_area{
        width: 100%;
        grid-row:1/3;
        grid-column: 2/6;
    }


#ol_double{
    grid-row:3/3;
    grid-column: 2/6;
    width: 100%;
     
}

#task_body{
    grid-row:1/3;
    grid-column: 2/6;
    width: 100%;
    
    
}
img{
    max-width: 50%;
    height: auto;
}

}




