
html, body {height: 100% }
*{
    padding: 0px;
    margin: 0px;
}

body{
background-color: rosybrown;
display: flex;
justify-content: space-around;
align-items: center
}

#task_body{
 width: 60%;
 height: 90%;
 color: white;
    background-color:transparent ;
    box-shadow: 0 0 0 2px white;
}

#arr_area{
    width: 30%;
    height: 90%;
    color: white;
    background-color:transparent ;
    box-shadow: 0 0 0 2px white;
    
}
    


#input_button{
position: absolute; 
}

#form{

}

#primary_input{
    color: white;
    background-color:transparent ;
    box-shadow: 0 0 0 2px white;
    width: 92%;
    text-align: center;
    border-color: transparent;
    padding: 10px;
    margin-bottom: 20px;
}

#send{
     color: white;
    background-color:transparent ;
    box-shadow: 0 0 0 2px white;
    width: 100%;
    text-align: center;
    border-color: transparent;
    padding: 10px;
}
#send:hover{
  box-shadow: 0  0 10px white;
   }
#send:active{
 transform:translateX(5px);
}



li{
    list-style-position:inside;
    list-style-type: decimal;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 0 0 2px white;
    
    
}

#step_button{
    color: white;
    background-color:transparent ;
    box-shadow: 0 0 0 2px white;
    width: 100%;
    text-align: center;
    border-color: transparent;
    padding: 10px;
    bottom: 1px;
}
#step_button:active{
    transform:translateX(5px);
   }
   #step_button:hover{
    box-shadow: 0  0 10px white;
     }